# Local development noodlings
dump/
data/
docs/
.vscode
__pycache__/
.DS_Store
env/
notebooks/.ipynb_checkpoints/
notebooks/Messing Around.ipynb
notebooks/.ipynb_checkpoints/Messing\ Around-checkpoint.ipynb
Procfile
