<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fanworks Recommendations</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
  
  
</head>
<body>
 <div id="login">
	<h1>Fanworks You May Also Like</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="work_id" placeholder="Enter the ID found in the URL of your favorite AO3 fanwork" required="required" />
      
      <button type="submit" class="btn btn-primary btn-block btn-large">Gimme some recs</button>
    </form>

   <br>
   <br>

   {{ prediction_text }}
 </div>
</body>
</html>