<!DOCTYPE html>
<html>
<title>AO3 Recommendation System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Fan Recs - a Recommendation System for AO3 Fanworks</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#recommendations" class="w3-bar-item w3-button">Recommendations</a>
      <a href="#instructions" class="w3-bar-item w3-button">Instructions</a>
      <a href="#howitworks" class="w3-bar-item w3-button">How It Works</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <!-- <img class="w3-image" src="/static/images/octav-cado-1P_Bu5svfyw-unsplash.jpg" alt="Photo by Octav Cado on Unsplash" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
  -->
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- Recommendations Section -->
  <div class="w3-row w3-padding-64" id="recommendations">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}"method="post">
        <!--
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Rating" required name="Rating"></p>
        <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
        <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Last Updated" required name="LastUpdated" value="2020-01-15T20:00"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
        -->
        <p><input type="text" name="work_id" placeholder="ID of your favorite AO3 fanwork" required="required" />
           <button class="w3-button" type="submit" >Recommend</button></p>
        </form>
      <br>
      {{ prediction_text }}
      <div>
          {{ work_id }}
      </div>
     <!-- img src="/docs/images/work_id_url.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750"-->
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">If you liked this fic, you might like...</h1><br>
      <h5 class="w3-center">Enter the ID of your favorite fanwork from AO3. Fan Recs uses collaborative filtering (based on the kudos a work has received) to find similar fanworks.</h5>
      <p class="w3-center">Not affiliated with <a href="http://ao3.org/works">Archive of Our Own.</a></p>
      <!--
      <p class="w3-large">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      -->
    </div>
  </div>
  
  <!-- Instructions Section -->
  <div class="w3-row w3-padding-64" id="instructions">
    <h1 class="w3-center">Instructions</h1>
    <div class="w3-col l6 w3-padding-large">
      <h4>Go to AO3</h4>
      <a href="http://ao3.org"><p class="w3-text-grey">archiveofourown.org</p></a>
      <h4>Find your favorite fanfiction or fanwork</h4>
      <p class="w3-text-grey">Find the number in the URL after http://www.archiveofourown.org/works/<b>######</b> </p>
      <h4>Paste the fanwork ID into the search field</h4>
      <p class="w3-text-grey">If it's not currently in the fanworks recommender system, you'll get a message. Since this is a work in progress, the number of fanworks is around 20,000 (vs the Archives 6 million).</p>
    </div>
    <div class="w3-col l6 w3-padding-large">
      <img src="/static/images/finding_work_id.jpg" class="w3-round w3-image w3-opacity-min" alt="Work_id" style="width:100%">
    </div>
  </div>

  <!-- How It Works Section -->
  <div class="w3-container w3-padding-64" id="howitworks">
    <h1>How It Works</h1><br>
    <p>This recommender system is not affaliated in any way with Archive of Our Own or Organization for Transformative Works. It is a labor of love by a fan for fans. It is also a WIP/early-draft/in-alpha.</p>
    <p>All code is available on <a href="https://github.com/rsanjabi/narratives">github</a></p>
    <p>Fanrecs scrapes publically available meta data from fanworks on AO3. Fanworks includes fanfiction, fanvids, podfics, meta. Meta information includes logged in users who left kudos. These kudos are then used to generate a collaborative filter to create recommendations. In other words, "users who liked this fanwork, also liked ...". These kudos aren't shared, rather they are only used to generate the recommendations.</p>
    <p>This recommender system was created by a fan for other fans. No identifying information is collected. Only public accessible fanworks are scraped and only the meta data is scraped, not the work itself.</p>
    <p>Because the recommender system is trying to be respectful of AO3's servers, it scrapes slowly. This means only a small subset of the works on the archive is available for recommendations at this time.</p>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Questions? Comments?<a href="mailto:rebecca.sanjabi@gmail.com" title="email" target="_blank" class="w3-hover-text-green">Feel free to reach out!</a></p>
</footer>

</body>
</html>
